.form__input_type_checkbox {
  box-sizing: border-box;
  margin: 0;
  flex-shrink: 0;
  appearance: none;
  width: 26px;
  height: 26px;
  border: 2px solid var(--black);
  background-color: var(--white);
  border-radius: 20%;
  /* border-image: url(./rectangle.svg); */
  /* border-image-slice: 1 fill; */
}

.form__input_type_checkbox:checked {
  background-image: url(./check.svg);
  background-size: 12px 12px;
  background-position: center;
  background-repeat: no-repeat;
}
