.photo__item_small {
  width: calc(20% - 30px);
}

@media screen and (max-width: 1169px) {
  .photo__item_small {
    width: calc(25% - 30px);
  }
}

@media screen and (max-width: 918px) {
  .photo__item_small {
    width: calc(100% / 3 - 18px);
  }
}
