.button_type_find {
  color: var(--white);
  width: 235px;
  height: 58px;
  background-color: var(--green400);
  border-radius: 10px;
}

@media screen and (min-width: 918px) {
  .button_type_find:hover {
    background-color: var(--green300);
  }
}

.button_type_find:active {
  background-color: var(--green200);
}
