.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--beige200);
  height: 88px;
  width: 100vw;
  box-sizing: border-box;
  padding: 30px;
  gap: 7px;
}

@media screen and (max-width: 1023px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 21px 23px 10px 23px;
  }
}