.review-block {
  padding: 0 375px 0 375px;
}


@media screen and (max-width: 1169px) {
  .review-block{
    padding: 0 53px 0 53px;
  }
}

@media screen and (max-width: 918px) {
  .review-block{
    padding: 0 21px 0 21px;
  }
}