.end-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}



@media screen and (max-width: 918px) {
  .end-block{
    flex-direction: column;
  }
}
