@import url("./tab__/tab__element.css");
.tab {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 30px;
  /* width: 700px; */
}

@media screen and (max-width: 1023px) {
  .tab{
    column-gap: 10px;
  }
}