@import url("./tab__/tab__element.css");
.tab {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  /* width: 700px; */
}

@media screen and (max-width: 918px) {
  .tab {
    gap: 10px;
  }
}
