.card_type_horizontal {
  max-width: 1170px;
  height: 567px;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

/* .card_type_horizontal .card__content__text-block {
  max-width: 554px;
} */



@media screen and (max-width: 1023px) {
  .card_type_horizontal{
    height: 455px;
  }
  
  .card_type_horizontal img{
    height: 100%;
    width: fit-content;
    margin: 0;
    /* margin-left: -80%; */
  }
}