.card_type_horizontal {
  max-width: 1170px;
  height: 567px;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

@media screen and (max-width: 918px) {
  .card_type_horizontal{
    height: 455px;
  }
  
  .card_type_horizontal img{
    height: 100%;
    margin: 0;
  }
}