.menu_fixed {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 88px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(54px);
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .menu_fixed {
    justify-content: space-between;
    padding: 33px 20px 33px 20px;
  }
}

.menu_fixed .menu__logo {
  background-image: url('../__logo/YourTour-black.svg');
}

.menu_fixed .menu__link {
  color: var(--black);
}

.menu_fixed .menu__link:hover {
  border-bottom: 1px solid var(--black) !important;
}