.photo__row {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  align-items: center;
  /* justify-content: space-between; */
  gap: 30px;
}

@media screen and (max-width: 918px) {
  .photo__row{
    column-gap: 18px;
  }
}