.button_type_reset {
  width: 235px;
  height: 58px;
  background-color: var(--green100);
  color: var(--green400);
  border-radius: 10px;
}

@media screen and (min-width: 918px) {
  .button_type_reset:hover {
    background-color: var(--gray100);
  }
}
.button_type_reset:active {
  background-color: var(--gray200);
}
