.main-block {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
}

.main-block__title {
  display: flex;
  max-width: 740px;
  flex-direction: column;
  margin-bottom: 100px;
  gap: 20px;
}

@media screen and (max-width: 1023px) {
  .main-block {
    margin-bottom: 75px;
  }

  .main-block__title {
    margin-bottom: 50px;
  }
}
