.main-block {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
}

.main-block-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  gap: 20px;
}

@media screen and (max-width: 1023px) {
  .main-block-title{
    margin-bottom: 50px;
  }
}