.footer__list-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  /* width: 125px; */
  /* height: 28px; */
}

@media screen and (max-width: 918px) {
  .footer__list-item {
    gap: 5px;
  }
}
