.card {
  position: relative;
  /* overflow: hidden; */
  display: flex;
  width: 370px;
  height: 531px;
  border-radius: 50px;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.card img {
  z-index: -1;
  border-radius: 50px;
  transition: transform 300ms;
}

.card:hover img {
  transform: scale(1.2);
}

.card > .card-content{
  position: absolute;
  left: 0;
  top: 0;
}

.card-content {
  height: calc(100% - 50px);
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}