.card {
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  width: 370px;
  height: 531px;
  border-radius: 50px;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.card img {
  /* transform: translateX(-360px); */
  margin-left: -370px;
  z-index: -1;
  border-radius: 50px;
  transition: transform 300ms;
}

.card:hover img {
  transform: scale(1.2);
}

.card-content {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
