.photo__item_large {
  width: calc(25% - 30px);
}

@media screen and (max-width: 1169px) {
  .photo__item_large {
    width: calc(100% / 3 - 20px);
  }
}

@media screen and (max-width: 918px) {
  .photo__item_large {
    width: calc(50% - 18px);
  }
}
