.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1169px) {
  .container {
    width: 918px;
  }
}

@media screen and (max-width: 918px) {
  .container {
    width: 318px;
  }
}
