.footer__link{
  box-sizing: border-box;
  text-decoration: none;
  color: var(--black);
}

@media screen and (min-width: 1024px) {
  .footer__link:hover {
    padding-top: 1px;
    border-bottom: 1px solid var(--black);
  }
}