.form__input_type_select {
  color: var(--gray300);
  appearance: none;
  background-image: url(./select.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}

.form__input_type_select:hover {
  background-image: url(./select.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}