p {
  color: var(--black);
}

a {
  color: var(--black);
  text-decoration: none;
}

.p_b {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
}

.p_n {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}

.p_s {
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
}

.p_white {
  color: var(--white);
}

.p_gray {
  color: var(--gray300);
}

.p_clear{
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
  color: var(--black);
}

h1 {
  font-size: 96px;
  line-height: 109%;
}

h2 {
  font-size: 59px;
  line-height: 124%;
}

h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  h1, h2 {
    font-size: 34px;
    line-height: 112%;
  }

  h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
  }

  .p_b, .p_n, .p_s {
    font-size: 16px;
    line-height: 142%;
  }
}