.form__input_type_select {
  appearance: none;
  background-image: url(./select.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}

.form__input_type_select:hover {
  background-image: url(./select.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}

.form__input_type_select:required:invalid{
  color: var(--gray300);
}

.form__input_type_select option{
  color: var(--black);
}