.form-block {
  padding: 0 375px 0 375px;
}

@media screen and (max-width: 1919px) {
  .form-block{
    padding: 0 53px 0 53px;
  }
}

@media screen and (max-width: 1023px) {
  .form-block{
    padding: 0 21px 0 21px;
  }
}