@import url("./__logo/menu__logo.css");
@import url("./_fixed/menu_fixed.css");
.menu {
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 88px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .menu {
    justify-content: space-between;
    padding: 33px 20px 33px 20px;
  }
}
