/* .form-line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
} */

.form-line {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media screen and (max-width: 1023px) {
  .form-line {
    grid-auto-flow: row;
  }
}