.main-block__title {
  display: flex;
  max-width: 97vw;
  flex-direction: column;
  margin-bottom: 100px;
  gap: 35px;
}

@media screen and (max-width: 918px) {
  .main-block__title {
    margin-bottom: 50px;
    gap: 30px;
  }
}
