.form__input {
  background: var(--beige100);
  border: 1px solid var(--beige200);
  border-radius: 10px;
  height: 68px;
  width: 100%;
  /* min-width: 500px; */
  padding: 20px;
  box-sizing: border-box;
  appearance: none;
}

.form__input:hover{
  background: var(--beige200);
}

.form__input:focus{
  border: 1px solid var(--gray300);
  outline: 0;
}

.form__input-selected{
  color: var(--black);
}

.form__input::placeholder{
  color: var(--gray300);
}

.form__input[type="date"]{
  font-family: inherit;
}

.form__input[type="date"]::placeholder{
  color: red;
}