.card-grid_type_one-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

@media screen and (max-width: 918px) {
  .card-grid_type_one-column {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
