.end-block__image {
  width: 370px;
  height: 370px;
  border-radius: 50px;
}

@media screen and (max-width: 918px) {
  .end-block__image{
    width: 130px;
    height: 130px;
    border-radius: 20px;
  }
}