.btn-tour {
  width: 118px;
  height: 34px;
  background-color: var(--white);
  border-radius: 10px;
}

@media screen and (min-width: 1023px) {
  .btn-tour:hover {
    background-color: var(--orange200);
    color: var(--white);
    border-color: var(--orange200);
    cursor: pointer;
  }
}

.btn-tour:active {
  background-color: var(--orange100);
  color: var(--black);
}
