.photo__elem {
  flex: 1;
  height: 301px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
}

@media screen and (max-width: 1023px) {
  .photo__elem {
    height: 110px;
    border-radius: 20px;
  }
}
