@import url("components/headers.css");
@import url("components/paragraphs.css");
@import url("components/button/btn.css");
@import url("components/button/btn-tour.css");
@import url("components/button/btn-details.css");
@import url("components/button/btn-find.css");
@import url("components/button/btn-reset.css");
@import url("components/menu/menu.css");
@import url("components/menu/menu-links.css");
@import url("components/page-header/page-header.css");
@import url("components/card/card.css");
@import url("components/footer/footer.css");
@import url("components/footer/footer-links.css");
@import url("components/icons/arrow/arrow.css");
@import url("components/icons/instagram/instagram.css");
@import url("components/icons/facebook/facebook.css");
@import url("components/icons/vkontakte/vkontakte.css");
@import url("components/tab/tab.css");
@import url("components/card/card-row.css");
@import url("components/main-block/main-block.css");
@import url("components/form/form.css");
@import url("components/link/link.css");
@import url("components/photo/photo-n.css");
@import url("components/photo/photo-m.css");
@import url("components/photo/photo-row.css");
@import url("components/photo/photo-block.css");

:root  {
  --black: #1b1f2b;
  --white: #ffffff;
  --orange200: #efa501;
  --orange100: #f8e6be;
  --green400: #286562;
  --green300: #3b7e7b;
  --green200: #627f7e;
  --green100: #e0f0e5;
  --gray300: #a6a6a6;
  --gray200: #d9dfdb;
  --gray100: #f1f3f2;
  --beige200: #f4f0e9;
  --beige100: #f9f7f4;
}

body {
  font-family: Roboto, sans-serif;
  font-display: swap;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;

  background-color: #E5E5E5;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 135px 0;
}
