@import url("../components/typography.css");
@import url("../components/button/button.css");
@import url("../components/button/_type/button_type_tour.css");
@import url("../components/button/_type/button_type_details.css");
@import url("../components/button/_type/button_type_find.css");
@import url("../components/button/_type/button_type_reset.css");
@import url("../components/menu/menu.css");
@import url("../components/menu/__list/menu__list.css");
@import url("../components/menu/__list-elem/menu__list-elem.css");
@import url("../components/menu/__link/menu__link.css");
@import url("../components/menu/__number/menu__number.css");
@import url("../components/page-header/page-header.css");
@import url("../components/footer/footer.css");
@import url("../components/footer/__list/footer__list.css");
@import url("../components/footer/__list-item/footer__list-item.css");
@import url("../components/footer/__link/footer__link.css");
@import url("../components/footer-container/footer-container.css");
/* @import url("../components/icons/arrow/arrow.css"); */
@import url("../components/icons/instagram/instagram.css");
@import url("../components/icons/facebook/facebook.css");
@import url("../components/icons/vkontakte/vkontakte.css");
@import url("../components/tab/tab.css");
@import url("../components/card/card.css");
@import url("../components/card/__content/card__content.css");
@import url("../components/card/__footer/card__footer.css");
@import url("../components/card/__img/card__img.css");
@import url("../components/card/__link/card__link.css");
@import url("../components/card/__links/card__links.css");
@import url("../components/card-grid/card-grid.css");
@import url("../components/card-grid/_type/card-grid_type_one-column.css");
@import url("../components/card/_type/card_type_horizontal.css");
@import url("../components/main-block/main-block.css");
@import url("../components/main-block/__title/main-block__title.css");
@import url("../components/form/form.css");
@import url("../components/form/__checkbox-group/form__checkbox-group.css");
@import url("../components/form/__element/form__element.css");
@import url("../components/form/__elements-line/form__elements-line.css");
@import url("../components/form/__input/form__input.css");
@import url("../components/form/__input/_type/_checkbox/form__input_type_checkbox.css");
@import url("../components/form/__input/_type/_radio/form__input_type_radio.css");
@import url("../components/form/__input/_type/_select/form__input_type_select.css");
@import url("../components/form/__line/form__line.css");
@import url("../components/form/__textarea/form__textarea.css");
@import url("../components/link/link.css");
@import url("../components/photo/photo.css");
@import url("../components/photo/__elem/photo__elem.css");
@import url("../components/photo/__elem/_hide/-medium/photo__elem_hide-medium.css");
@import url("../components/photo/__elem/_hide/-mobile/photo__elem_hide-mobile.css");
@import url("../components/photo/__row/photo__row.css");
@import url("../components/photo/__item/photo__item.css");
@import url("../components/photo/__item/_large/photo__item_large.css");
@import url("../components/photo/__item/_small/photo__item_small.css");
@import url("../components/end-block/end-block.css");
@import url("../components/end-block/__image/end-block__image.css");
@import url("../components/end-block/__text/end-block__text.css");
@import url("../components/review-block/review-block.css");
@import url("../components/review-card/review-card.css");
@import url("../components/review-card/__photo/review-card-title__photo.css");
@import url("../components/review-card/__subtitle/review-card__subtitle.css");
@import url("../components/review-card/__text/review-card__text.css");
@import url("../components/review-card/__title/review-card__title.css");
@import url("../components/review-card-grid/review-card-grid.css");
@import url("../components/list/list.css");
@import url("../components/container/container.css");


:root {
  --black: #1b1f2b;
  --white: #ffffff;
  --orange200: #efa501;
  --orange100: #f8e6be;
  --green400: #286562;
  --green300: #3b7e7b;
  --green200: #627f7e;
  --green100: #e0f0e5;
  --gray300: #a6a6a6;
  --gray200: #d9dfdb;
  --gray100: #f1f3f2;
  --beige200: #f4f0e9;
  --beige100: #f9f7f4;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-style: normal;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;

  background-color: var(--beige100);
}

.main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

/* @media screen and (max-width: 1169px) and (min-width: 918px) {
  .main {
    padding: 0 53px 0 53px;
  }
}

@media screen and (max-width: 918px) {
  .main {
    padding: 0 21px 0 21px;
  }
} */
